/src/node_modules
/src/public/hotjen
/docker_volumes
/src/public/storage
/src/storage/*.key
/src/vendor
/src/src/.env
/src/.phpunit.result.cache
/src/Homestead.json
/src/Homestead.yaml
/src/npm-debug.log
/src/yarn-error.log
/.idea